location / {
    proxy_http_version                          1.1;
    proxy_set_header Connection                 "";
    proxy_redirect                              off;
    proxy_set_header Host                       $host;
    proxy_set_header X-Forwarded-For            $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Host           $host;
    proxy_set_header X-Forwarded-Server         $host;
    proxy_set_header X-Real-IP                  $remote_addr;
    proxy_set_header X-Request-ID               $request_id;
    proxy_set_header X-RTBL-Request-Time-Unix   $msec;
    proxy_set_header X-RS-Request-Time-Unix     $msec;
    proxy_read_timeout                          120;
    proxy_pass_request_headers                  on;
    proxy_intercept_errors                      on;
    proxy_pass                                  http://bff-server;

    #TODO: Do not copy! danger cors setting.
    if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Credentials' 'true';
        add_header 'Access-Control-Allow-Headers'     'Authorization,Content-Type,Accept,Origin,User-Agent,DNT,Cache-Control,X-Mx-ReqToken,Keep-Alive,X-Requested-With,If-Modified-Since';
        add_header 'Access-Control-Allow-Methods'     'GET, DELETE, OPTIONS, POST, PUT';
        add_header 'Access-Control-Allow-Origin'      '$http_origin';
        add_header 'Access-Control-Max-Age'           2592000;
        add_header 'Content-Length'                   0;
        add_header 'Content-Type'                     'text/plain charset=UTF-8';
        return 204;
    }
    add_header 'Access-Control-Allow-Credentials' 'true';
    add_header 'Access-Control-Allow-Origin'      '$http_origin';
}

